body {
	background-color: #F7F5F2;
	color : rgb(50,50,50);
	font-family: Arial;
	font-size: 17px;
	}

h1,h2, h3 {
	color: #333333;
	font-family: "Source Sans 3", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: <weight>;
  	font-style: normal;}


h1 {
	font-weight: 800;
	letter-spacing: 3px;
	font-size: 32px;
	text-transform: uppercase;}

h2{
	font-weight: 700;
	font-size: 24px;	
	letter-spacing: 0px;
	color: #F2B86B;}

a{
	text-decoration: none;
	color: #000000 ;
	font-weight: 600;
	font-size: 16px;}

a:hover{
	color: #F85000;}


.container {
	width: 700px;
	margin: 40px auto;
}

@media (max_width: 760px) {
	.container {
		width: 600px;
	}
}

@media (max_width: 500px) {
	.container {
		width: 400px;
	}
}



.card-white {
	background-color: #F5F5F5;
	padding: 40px;
	box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
	border-radius: 15px;
	margin: 30px 0px;
	text-align: center;
}

.img-circle {
	border-radius: 50%;
}

.btn-orange {
	background-color: #4A4A4A;
	color: white;
	padding: 15px 20px;
	border-radius: 15px;
}
.btn-orange:hover {
	background-color: #F85000;
	color: #333333;
}

.list-inline {
	color: #333333;
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 10px;
}
.list-inline:hover {
	color: #F85000;a
}
.list-inline i {
    font-size: 28px;
}
#introduction p {
	margin-bottom: 35px;
}	